
@media (max-width:750px) {
    html{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .header_hidden{
        display: none;
    }
    header{margin: 0;
        width:100%;
        overflow: hidden;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header1{
        display: flex;
        float: left;
        width: 35%;
        padding-left: 5%;
        
    }
    .header2{
        padding-left: 8%;
        padding-right: 10%;
        float:left;
       
    }
    .header3{
        display: flex;
        float: right;
        width: 25%;
        padding-left: 3%;
        padding-right: 5%;

    }
    
    
    .header_right{
        border-radius: 40px;
        padding: 5px 25px 5px 25px;
        background-color: white;
        border-color: rgb(62, 62, 238);
        border-width: 1px;
    }
    
    .header_right a{
        text-decoration: none;
        color: #142c8e;
        
    }
    .header_left .fa{
        padding-right: 10px;
    
    
    }
    .header_left{
        background-color: white;
        color:#142c8e;
        border: 1px solid #142c8e;
        cursor: pointer;
        padding: 1px 20px 1px 20px;
        border-radius: 40px;
    }
    
    section{
        
        background-color: #142c8e;
       
        padding: 0;
        padding-left: 30px;
        margin: 0;

    }
    .section1 h1{
        width: 90%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 100;
        margin: 0;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .hide{
        display: none;
    }
    .section2{
        margin: 0;
        padding-left:0;
        padding-bottom: 25px;
    }
    .section2 button{
        background-color: #F9B822;
        border: none;
        padding: 20px 120px 20px 120px;
        border-radius: 30px;
    }
    .section2 a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .section3 a{
        color: #56CCFE;;
        font-size: 20px;
        text-decoration: none;
    }
    .section4{
        margin: 0;
        padding-left: 40px;
    }
    .section4 img{
        width: 85%;
    }
    .section5{
        padding-top:8%;
        padding-left: 15%;
        padding-bottom: 8%;
    }
    .section5 p{
        display: inline;
        width: 40%; 
        margin:0;
        color: white;
        font-weight: lighter;
    }
    .section5 .remove{
        display: none;
    }
    .section6{
        margin: 0;
        width: 45%;
        padding-left: 25%;
        padding-bottom: 10%;
    }
    .section6 button{
        background-color: white;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10%;
        padding-right: 10%;
        border-radius:30px;
        border: none;
        color: #142c8e;

    }
    aside{
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
  
    .aside1 img{
        width: 80%;
        padding-top: 5%;
        padding-left: 10%;
    }
    .aside2{
        width: 50%;
        padding-left: 25%;
    }
    .aside2 h1{
        font-weight: lighter;
        color:rgb(78, 72, 72);
        text-align: center;
        padding-top: 60px;
        font-size: 25px;
    }
    .aside3{
        width: 85%;
        padding-left: 10%;
    }
    .aside3 p{
        color:rgb(78, 72, 72);
        text-align: center;
    }
    .aside4{
        padding-top: 20px;
        width: 40%;
        padding-left: 35%;
    }
    .aside4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
    }
    .aside5 p{
        text-align: center;
        padding-left: 5%;
        padding-bottom: 6%;
        width: 90%;
        color:rgb(78, 72, 72);
    }
    .third{
        background-color: #f5f7fa;;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .third1 img{
        width:65%;
        margin:0;
        padding-left: 20%;
        padding-top: 5%;
    }
    .third2{
        width:80%;
        padding-left: 20%;
        padding-right: 0%;
        padding-top: 10px;
    }
    .third2 h1{
        font-weight: lighter;
        color:rgb(78, 72, 72);
        font-size: 20px;
    }
    .third3 p{
        line-height: 1.5rem;
        text-align: center;
        padding-left: 6%;
        padding-bottom: 3%;
        width: 90%;
        color:rgb(78, 72, 72);
    }
    .third4{
       padding-bottom: 5%;
       padding-left: 30%;
    }
    .third4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
    }
    .fourth{
        width:100%;
    }

    .fourth1 img{
        width:65%;
        margin:0;
        padding-left: 20%;
        padding-top: 5%;
        
    }
    .fourth2{
        margin: 0;
        width: 80%; 
        padding-top: 10px;
        padding-left: 15%;
    }
    .fourth2 h1{
        font-weight: lighter;
        color:rgb(78, 72, 72);
        font-size: 20px;
    }
    .fourth3 p{
        text-align: center;
        padding-left: 6%;
        padding-bottom: 3%;
        width: 90%;
        color:rgb(78, 72, 72);
    }
    .fourth4{
        padding-bottom: 5%;
        padding-left: 30%;
    }
    .fourth4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
    }
    .fifth{
        background-color: #f5f7fa;
        width: 100%;
    }
    .fifth1 img{
        width: 65%;
        padding-top: 5%;
        padding-left: 20%;
    }
    .fifth2{
        margin: 0;
        padding-left:45%;
        padding-right:45%;
        padding-top: 5%;
    }
    .fifth2 button{
        border-radius: 35px;
        padding: 20px 15px;
        background-color: #A96717;
        border: none;
        color: white;
    }
    .fifth3 h1{
        color: rgb(78, 72, 72);
        padding-left: 32%;
        font-weight: lighter;
    }
    .fifth4 p{
        color: rgb(78, 72, 72);
        text-align: center;
        width: 80%;
        padding-left: 10%;
    }
    .fifth5{
        padding-bottom: 5%;
    }
    .fifth5 a{
        color: #0070ba;
        text-decoration: none;
        padding-left: 43%;
    }
    .section60{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section61{
        padding-left:5%;
        padding-right: 5%;
        margin: 0;
        text-align: center;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        font-size: 10px;
       
    }
    .section62{
        padding-left: 10%;
    }
    .section62 img{
        padding: 7%;


    }

}















@media (min-width:750px) {
    body{
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .header_hidden{
        display: none;
    }
    header{margin: 0;
        padding-top: 10px;
        width:100%;
        overflow: hidden;
        display: flex;
    }
    .header1{
        float: left;
        width: 20%;
        padding-left: 5%;
       
    }
    .header2{
        padding-left: 25%;
        padding-right: 30%;
        float:left;
        width: 5%;
    }
    .header3{
        float: right;
        width: 20%;
        

        margin-right: 0;
    }
    .header_right{
        border-radius: 20px;
        padding: 10px 25px 10px 25px;
        border-width: 1px;
        border-color: rgb(62, 62, 238);
        background-color: white;
        color: #142c8e;
    }
    
    .header_right a{
        text-decoration: none;
    }
    .header_left .fa{
        padding-right: 10px;
    
    
    }
    .header_left{
        background-color: white;
        color:#142c8e;
        border: 1px solid #142c8e;
        cursor: pointer;
        padding: 10px 15px 10px 15px;
        border-radius: 20px;
    }
    .dropdown{
        position: relative;

    }
    .dropdown-menu ul li{
        position: absolute;
        display:none;
    }
    .header_left:hover .dropdown-menu{
        display: block;
        color: brown;
        
    }
    section{
        display: block;
        background-color: #142c8e;
        width: 100%;
        padding-left: 30px;
        margin: 0;
        
    }
    .section1 h1{
        max-width: 100%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: 100;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .section2{
        margin: 0;
        padding-left:0;
        padding-bottom: 25px;
    }
    .hide{
        display: none;
    }
    .section2 button{
        background-color: #F9B822;
        border: none;
        padding: 20px 120px 20px 120px;
        border-radius: 30px;
    }
    .section2 a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .section3 a{
        color: #56CCFE;;
        font-size: 20px;
        text-decoration: none;
    }
    .section4{
        margin: 0;
        padding-left: 80px;
    }
    .section4 img{
        width: 85%;

    }
    .section5{
        margin: 0;
        padding: 0;
    }
    .section5 p{
        width: 80%; 
        margin:0;
        color: white;
        font-size: 17px;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 0;
        text-align: center;

    }
    .section6{
        margin: 0;
        padding:0% 35% 1% 35%;
    }
    .section6 button{
        background-color: white;
        padding: 10px 20px;
        border-radius:20px;
        border: none;
        color: #142c8e;
    }
    .section60{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section61{
        padding-left:5%;
        padding-right: 5%;
        margin: 0;
        text-align: center;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        font-size: 20px;
       
    }
    .section62{
        padding-left: 10%;
    }
    .section62 img{
        padding: 7%;


    }
    aside{
        margin: 0;
        width: 100%;
    }
  
    .aside1 img{
        width: 35%;
        float: right;
        padding-top: 100px;
        padding-left:0;
        padding-right:5%;
        
    }
    .aside2 h1{
        width: 35%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-top: 60px;
        font-size: 35px;
        padding-left:15%;
        line-height: 120%;
    }
    .aside3 p{
        color:rgb(78, 72, 72);
        padding-left: 15%;
        width:40%;
        line-height: 150%;
    }
    .aside4{
        padding-top: 10px;
    }
    .aside4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
        padding-left:15%;
    }
    .aside5 p{
        padding-left: 15%;
        padding-bottom: 6%;
        width: 40%;
        color:rgb(78, 72, 72);
        line-height: 150%;
    }
    .third{
        background-color: #f5f7fa;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 10%;
    }
    .third1 img{
        width:35%;
        margin:0;
        padding-top: 10%;
        padding-left: 15%;
        padding-right: 5%;
        float: left;
    }
    
    .third2 h1{
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-top: 12%;
        padding-right: 0;
        font-size: 40px;
        margin: 0;
        width: 90%;
        line-height: 130%;
    }
    .third3 p{
        color:rgb(78, 72, 72);
        margin: 0;
        padding-top: 3%;
        width:90%;
        line-height: 150%;
    }
    .third4{
        padding-top: 5%;
    }
    .third4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
        margin: 0;
    }
    .fourth{
        padding: 0;
        width:100%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .fourth1 img{
        width:35%;
        margin:0;
        float:right;
        padding-right: 10%;
    }
    .fourth2 h1{
        width: 40%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-top: 10px;
        font-size: 40px;
        line-height: 130%;
        padding-left: 10%;
    }
    .fourth3 p{
        text-align:initial;
        width: 40%;
        color:rgb(78, 72, 72);
        padding-left: 10%;
        line-height: 150%;
    }
    .fourth4{
        padding-bottom: 5%;
        padding-left: 10%;
    }
    .fourth4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
    }
    .fifth{
        background-color: #f5f7fa;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .fifth1 img{
        width: 40%;
        float: left;
        padding-left: 10%;
        
    }
    .fifth2{
        margin: 0;
        padding-top: 1%;
        padding-left:3%;
        padding-right: 3%;
        float: left;
    }
    .fifth2 button{
        border-radius: 35px;
        padding: 20px 15px;
        background-color: #A96717;
        border: none;
        color: white;
    }
    .fifth3 h1{
        color: rgb(78, 72, 72);
        font-weight: lighter;
    }
    .fifth4{
        padding-left: 10%;
    }
    .fifth4 p{
        color: rgb(78, 72, 72);
        width: 40%;
        padding-left: 47%;
        line-height: 150%;
    }
    .fifth5 a{
        color: #0070ba;
        text-decoration: none;
        padding-left: 12%;
    }

}
@media (min-width:1050px) {
    section{
        padding-left: 10%;
    }
    .section1 h1{
        padding-top: 10%;
    }
    .section11{
        float:left;
    }
    .hide{
        display: inline;
        padding-left:10% ;
    }
    .section2{
        display: none;
    }
    .section21 img{
        width:30%;
        float: left;
        padding-right: 10%;
    }
    .section22{
            line-height: 2rem; 
        
        color: white;
    }
   
    .section3{
        padding-top: 5%;
        display: inline-block;
    }
    .section4 img{
        width: 30%;
    }
    .section60{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section61{
        padding-left:5%;
        padding-right: 5%;
        margin: 0;
        text-align: center;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        font-size: 20px;
       
    }
    .section62{
        padding-left: 5%;
    }
    .section62 img{
        padding: 2%;


    }
    
    
}


@media (min-width:1070px){
    header{
        display: none;
    }
   
    .header_hidden{
        display:inline-block;
        padding-top: 1%;
        padding-bottom: 2%;
        margin: 0;
    }
    .himage img{
        width:10%;
        float: left;
        padding-right: 8%;
        padding-left: 3%;
        margin: 0;
    }
    .hlist ul{
        padding-left: 20%;
    }
    .hlist ul li{
        float: left;
        display: flex;
        padding-left: 2%;
        padding-right: 4%;
        font-size: 15px;
        margin: 0;
    }
    .hlogin{
        float: left;
        background-color: white;
        color: #0070ba;
        border: 1px solid  #0070ba;
        cursor: pointer;
        padding: 8px 20px 8px 20px;
        border-radius: 20px;
        margin-left: 5%;
        margin-right: 2%;
        font-family:arial;
        font-size:.75rem;
      

       
    }
    section{
        padding-left: 10%;
    }
    .section1 h1{
        padding-top: 10%;
    }
    .section22{
        line-height: 2rem; 
    }
    .section3{
        padding-top: 10%;
    }
    .hlogin a{
        text-decoration: none;
    }
    .hsignup button{
        border-radius: 20px;
        padding: 10px 15px 10px 15px;
        border-width: 1px;
        background-color:  #0070ba;
        color: white;
        border: none;
        font-family: arial;
        font-size:.75rem;
    }
    .hlist ul li .fa{
        padding-left: 10px;
    }
}
@media (min-width:1150px){
    .aside1 img{
        width: 30%;
        padding-top: 30px;
        padding-left:0;
        padding-right:10%;
        
    }
   
    .third1 img{
        width: 20%;
   
        padding-top: 2%;
    }
    .third2 h1{
        padding-top: 5%;
        padding-right: 0;
        font-size: 40px;
        margin: 0;
        width: 90%;
      
    }
    .third3 p{
        color:rgb(78, 72, 72);
        margin: 0;
        padding-top: 3%;
        width:90%;
        line-height: 150%;
    }
    .third4{
        padding-top: 2%;
    }
    .fourth{
        padding: 0;
        width:100%;
       
        padding-bottom: 5%;
    }

    .fourth1 img{
        padding-top: 0;
        width:20%;
        margin:0;
        float:right;
        padding-right: 20%;
    }
    
    .section1 h1{
        width: 60%;
        font-size: 80px;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    
    .section21 img{
        padding-left: 0%;  
        padding-right: 10%;

    }
    .section22{
        line-height: 2rem; 

      
    }
    .section4 img{
        padding-left: 10%;
        width: 35%;
        
    }
    .fifth{
        margin: 0;
        padding-top: 5%;
    }
    .fifth1 img{
        width:30%;
        padding-top: 0;
       
    }
    .fifth3 h1{
        padding: 0;
    }
    .fifth4{
        padding-left: 5%;
    }
    
    .fifth5 a{
        
        padding-left: 10%;
    }
    .section60{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section61{
        padding-left:5%;
        padding-right: 5%;
        margin: 0;
        text-align: center;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        font-size: 20px;
       
    }
    .section62{
        padding-left: 20%;
    }
    .section62 img{
        padding: 2%;


    }
}