
@media (max-width:750px) {
    body{
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    header{margin: 0;
        padding-top: 10px;
        width:100%;
        overflow: hidden;
    }
    .header1{
        float: left;
        width: 20%;
        padding-left: 20px;
        padding-right: 60px;
    }
    .header2{
        padding-left: 80px;
        padding-right: 50px;
        float:left;
        width: 5%;
    }
    .header3{
        float: right;
        width: 20%;
        padding-left: 50px;
        padding-right: 0px;
        margin-right: 0;
    }
    
    .header_right{
        border-radius: 20px;
        padding: 10px 25px 10px 25px;
        border-width: 1px;
        border-color: rgb(62, 62, 238);
        background-color: white;
        color: #142c8e;
    }
    
    .header_right a{
        text-decoration: none;
    }
    .header_left .fa{
        padding-right: 10px;
    
    
    }
    .header_left{
        background-color: white;
        color:#142c8e;
        border: 1px solid #142c8e;
        cursor: pointer;
        padding: 10px 15px 10px 15px;
        border-radius: 20px;
    }
    .dropdown{
        position: relative;

    }
    .dropdown-menu ul li{
        position: absolute;
        display:none;
    }
    .header_left:hover .dropdown-menu{
        display: block;
        color: brown;
        
    }
    section{
        display: block;
        background-color: #142c8e;
        width: 100%;
        padding-left: 30px;
        margin: 0;
        
    }
    .section1 h1{
        max-width: 100%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: 100;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .section2{
        margin: 0;
        padding-left:0;
        padding-bottom: 25px;
    }
    .section2 button{
        background-color: #F9B822;
        border: none;
        padding: 20px 120px 20px 120px;
        border-radius: 30px;
    }
    .section2 a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .section3 a{
        color: #56CCFE;;
        font-size: 20px;
        text-decoration: none;
    }
    .section4{
        margin: 0;
        padding-left: 40px;
    }
    .section4 img{
        width: 85%;
    }
    .section5 p{
        max-width: 100%; 
        margin:0;
        padding:5% 30% 5% 30%;
        color: white;
        font-weight: lighter;
    }
    .section5 .remove{
        display: none;
    }
    .section6{
        margin: 0;
        padding:0% 35% 1% 35%;
    }
    .section6 button{
        background-color: white;
        padding: 10px 20px;
        border-radius:20px;
        border: none;
        color: #142c8e;
    }
    aside{
        margin: 0;
        width: 100%;
    }
  
    .aside1 img{
        width: 80%;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 16%;
    }
    .aside2 h1{
        width: 100%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        text-align: center;
        padding-top: 60px;
        font-size: 30px;
    }
    .aside3 p{
        color:rgb(78, 72, 72);
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    .aside4{
        padding-top: 20px;
    }
    .aside4 a{
        text-decoration: none;
        color: #0070ba;
        padding-left: 42%;
        padding-right: 30%;
        padding-top: 80px;
        font-weight:lighter;
        font-size:large;
    }
    .aside5 p{
        text-align: center;
        padding-left: 5%;
        padding-bottom: 6%;
        width: 90%;
        color:rgb(78, 72, 72);
    }
    .third{
        background-color: #f5f7fa;;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .third1 img{
        width:50%;
        margin:0;
        padding-left: 30%;
        padding-top: 5%;
    }
    .third2 h1{
        width: 50%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-left: 30%;
        padding-right: 20%;
        padding-top: 10px;
        font-size: 30px;
    }
    .third3 p{
        text-align: center;
        padding-left: 6%;
        padding-bottom: 3%;
        width: 90%;
        color:rgb(78, 72, 72);
    }
    .third4{
       padding-bottom: 5%;;
    }
    .third4 a{
        text-decoration: none;
        color: #0070ba;
        padding-left: 40%;
        padding-right: 35%;
        font-weight:lighter;
        font-size:large;
    }
    .fourth{
        width:100%;
    }

    .fourth1 img{
        width:45%;
        margin:0;
        padding-left: 30%;
        padding-top: 5%;
    }
    .fourth2 h1{
        width: 70%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-left: 20%;
        padding-top: 10px;
        font-size: 30px;
    }
    .fourth3 p{
        text-align: center;
        padding-left: 6%;
        padding-bottom: 3%;
        width: 90%;
        color:rgb(78, 72, 72);
    }
    .fourth4{
        padding-bottom: 5%;
    }
    .fourth4 a{
        text-decoration: none;
        color: #0070ba;
        padding-left: 40%;
        padding-right: 35%;
        font-weight:lighter;
        font-size:large;
    }
    .fifth{
        background-color: #f5f7fa;
        width: 100%;
    }
    .fifth1 img{
        width: 65%;
        padding-top: 5%;
        padding-left: 20%;
    }
    .fifth2{
        margin: 0;
        padding-left:45%;
        padding-right:45%;
        padding-top: 5%;
    }
    .fifth2 button{
        border-radius: 35px;
        padding: 20px 15px;
        background-color: #A96717;
        border: none;
        color: white;
    }
    .fifth3 h1{
        color: rgb(78, 72, 72);
        padding-left: 32%;
        font-weight: lighter;
    }
    .fifth4 p{
        color: rgb(78, 72, 72);
        text-align: center;
        width: 80%;
        padding-left: 10%;
    }
    .fifth5{
        padding-bottom: 5%;
    }
    .fifth5 a{
        color: #0070ba;
        text-decoration: none;
        padding-left: 43%;
    }

}















@media (min-width:751px) {
    body{
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    header{margin: 0;
        padding-top: 10px;
        width:100%;
        overflow: hidden;
    }
    .header1{
        float: left;
        width: 20%;
        padding-left: 20px;
        padding-right: 60px;
    }
    .header2{
        padding-left: 80px;
        padding-right: 50px;
        float:left;
        width: 5%;
    }
    .header3{
        float: right;
        width: 20%;
        padding-left: 50px;
        padding-right: 0px;
        margin-right: 0;
    }
    .header_right{
        border-radius: 20px;
        padding: 10px 25px 10px 25px;
        border-width: 1px;
        border-color: rgb(62, 62, 238);
        background-color: white;
        color: #142c8e;
    }
    
    .header_right a{
        text-decoration: none;
    }
    .header_left .fa{
        padding-right: 10px;
    
    
    }
    .header_left{
        background-color: white;
        color:#142c8e;
        border: 1px solid #142c8e;
        cursor: pointer;
        padding: 10px 15px 10px 15px;
        border-radius: 20px;
    }
    .dropdown{
        position: relative;

    }
    .dropdown-menu ul li{
        position: absolute;
        display:none;
    }
    .header_left:hover .dropdown-menu{
        display: block;
        color: brown;
        
    }
    section{
        display: block;
        background-color: #142c8e;
        width: 100%;
        padding-left: 30px;
        margin: 0;
        
    }
    .section1 h1{
        max-width: 100%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: 100;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .section2{
        margin: 0;
        padding-left:0;
        padding-bottom: 25px;
    }
    .section2 button{
        background-color: #F9B822;
        border: none;
        padding: 20px 120px 20px 120px;
        border-radius: 30px;
    }
    .section2 a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .section3 a{
        color: #56CCFE;;
        font-size: 20px;
        text-decoration: none;
    }
    .section4{
        margin: 0;
        padding-left: 80px;
    }
    .section4 img{
        width: 85%;

    }
    .section5{
        margin: 0;
        padding: 0;
    }
    .section5 p{
        width: 80%; 
        margin:0;
        color: white;
        font-size: 17px;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 0;
        text-align: center;

    }
    .section6{
        margin: 0;
        padding:0% 35% 1% 35%;
    }
    .section6 button{
        background-color: white;
        padding: 10px 20px;
        border-radius:20px;
        border: none;
        color: #142c8e;
    }
    aside{
        margin: 0;
        width: 100%;
    }
  
    .aside1 img{
        width: 35%;
        float: right;
        padding-top: 100px;
        padding-left:0;
        padding-right:5%;
        
    }
    .aside2 h1{
        width: 35%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-top: 60px;
        font-size: 35px;
        padding-left:15%;
        line-height: 120%;
    }
    .aside3 p{
        color:rgb(78, 72, 72);
        padding-left: 15%;
        width:40%;
        line-height: 150%;
    }
    .aside4{
        padding-top: 10px;
    }
    .aside4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
        padding-left:15%;
    }
    .aside5 p{
        padding-left: 15%;
        padding-bottom: 6%;
        width: 40%;
        color:rgb(78, 72, 72);
        line-height: 150%;
    }
    .third{
        background-color: #f5f7fa;;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 150%;
        padding-bottom: 15%;
    }
    .third1 img{
        width:35%;
        margin:0;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 5%;
        float: left;
    }
    .third11{
        padding-top: 15%;
        width: 50%;
        margin-right:0;
        padding-left: 40%;
    }
    .third2 h1{
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-right: 0;
        font-size: 30px;
        margin: 0;
    }
    .third3 p{
        color:rgb(78, 72, 72);
        margin: 0;
        padding-top: 5%;
    }
    .third4{
        padding-top: 5%;
    }
    .third4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
        margin: 0;
    }
    .fourth{
        margin-top: -3%;
        padding: 0;
        width:100%;
        line-height: 150%;
        background-color:red;
    }

    .fourth1 img{
        width:35%;
        margin:0;
        float:right;
        padding-right: 7%;
    }
    .fourth2 h1{
        width: 30%;
        font-weight: lighter;
        color:rgb(78, 72, 72);
        padding-top: 10px;
        font-size: 40px;
        line-height: 130%;
        padding-left: 10%;
    }
    .fourth3 p{
        text-align:initial;
        width: 40%;
        color:rgb(78, 72, 72);
        padding-left: 10%;
    }
    .fourth4{
        padding-bottom: 5%;
        padding-left: 10%;
    }
    .fourth4 a{
        text-decoration: none;
        color: #0070ba;
        font-weight:lighter;
        font-size:large;
    }

}